[Unit]
Description=facial recognition

[Service]
User=pi
WorkingDirectory=/home/pi/RPi-face-recognition
ExecStart=python3 camera.py
Restart=never

[Install]
WantedBy=multi-user.target
