[Unit]
Description=facial recognition
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/RPi-face-recognition
ExecStart=python3 camera.py
Restart=always

[Install]
WantedBy=multi-user.target
