[Unit]
Description=Guinicorn web server
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/RPi-face-recognition
ExecStart=/home/pi/.local/bin/gunicorn app:app -c configs/gunicorn.py --reload
Restart=always

[Install]
WantedBy=multi-user.target
