[Unit]
Description=keypad
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/RPi-face-recognition
ExecStart=python3 keypad.py
Restart=always

[Install]
WantedBy=multi-user.target
