<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RPi facerec</title>
    <link rel="icon" type="image/svg+xml" sizes="255x255" href="{{url_for('static', filename='assets/img/icon.svg')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.min.css') }}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="/">DoorBell</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/">Live</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/people">People</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/people/search/unknown">Unknown</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/settings">Advanced</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/log">Log</a></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
            </div>
        </div>
    </nav>
	{% if service_active('live') %}
		<div class="container text-center">
			<form action="/settings/restart/camera" method="post">
				<button class="btn btn-success" type="submit">Start Facial Recognition</button>
			</form>
			<img src="http://192.168.1.38/stream.mjpg" style="width:100%; max-width:640px;">
		</div>

	{% else %}
		<div class="container text-center">
			<form action="/settings/restart/live" method="post">
				<button class="btn btn-success" type="submit">Start Live View</button>
			</form>
			<img src="static/temp.JPG">
		</div>
	{% endif %}
	<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>
