<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RPi facerec</title>
    <link rel="icon" type="image/svg+xml" sizes="255x255" href="{{url_for('static', filename='assets/img/icon.svg')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.min.css') }}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="/">DoorBell</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/">Live</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/people">People</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/people/search/unknown">Unknown</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/settings">Advanced</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/log">Log</a></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
            </div>
        </div>
    </nav>
    <form action="/person/update" method="post">
        <button type="submit" hidden></button>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Info</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row" style="overflow:auto;flex-wrap: nowrap;">
                        {% for row in person %}
                            <div class="col" style="min-width:200px"><img class="mug" src="{{ row['image_loc'] }}">
                            {% if person[1] %}
                            <p><button class="btn btn-danger" type="submit" formaction="/person/deleteface" name="face" value="{{ row['image_loc'] }}">Delete</button></p>
                            {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="form-row">
                        <div class="col"><label class="col-form-label" for="id">ID</label></div>
                        <div class="col"><input class="form-control" type="text" id="id" name="id" value="{{ person[0]['person_id'] }}" readonly=""></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label" for="name">Name</label></div>
                        <div class="col"><input class="form-control" type="text" id="name" name="name" placeholder="Name" value="{{ person[0]['name'] }}"></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label" for="trusted">Trusted</label></div>
                        <div class="col text-left"><label class="col-form-label switch"><input type="checkbox" id="trusted" name="trusted" value="True">&nbsp;<span class="slider round"></span></label></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label" for="pin">PIN</label></div>
                        <div class="col"><input class="form-control" type="password" id="pin" name="pin" placeholder="PIN" value="{{ person[0]['pin'] }}"></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><label class="col-form-label" for="announce">Announce</label></div>
                        <div class="col"><textarea class="form-control" id="announce" name="announce" placeholder="Announce">{{ person[0]['announce'] }}</textarea></div>
                    </div>
                    {% for row in person %}
                    <div class="form-row">
                        <div class="col"><label class="col-form-label" for="imageloc">Image location</label></div>
                        <div class="col"><input class="form-control" type="text" id="imageloc" disabled="" value="{{ row['image_loc'] }}"></div>
                    </div>
                    {% endfor %}
                    <div class="form-row">
                        <div class="col"><label class="col-form-label" for="lastseen">Last seen</label></div>
                        <div class="col"><input class="form-control" type="text" id="lastseen" disabled="" value="{{ log[0]['datetime'] }}"></div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <p class="text-danger">Check to delete</p>
                        </div>
                        <div class="col text-left align-self-center"><label class="switch"><input type="checkbox" name="del0"  value="True"><span class="slider round" style="/*background-color: red;*/"></span></label><label class="switch"><input type="checkbox" name="del1" value="True"><span class="slider round"></span></label>
                            <label
                                class="switch"><input type="checkbox" name="del2" value="True"><span class="slider round"></span></label><label class="switch"><input type="checkbox" name="del3" value="True"><span class="slider round"></span></label><label class="switch"><input type="checkbox" name="del4" value="True"><span class="slider round"></span></label></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><button class="btn btn-danger" type="submit" formaction="/person/delete">Delete</button></div>
                        <div class="col"><a class="btn btn-warning" role="reset" href="/people">Cancel</a></div>
                        <div class="col"><button class="btn btn-success" type="submit">Update</button></div>
                    </div>
                    {% if not person[1] %}
                    <div class="form-row">
                        <div class="col"><label class="col-form-label" for="id">Add to person with ID</label></div>
                        <div class="col"><input class="form-control" type="text" id="addtoid" name="addtoid" placeholder="ID"></div>
                        <div class="col"><button class="btn btn-primary" type="submit"  formaction="/person/addto">Add</button></div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
    <div class="container" id="log">
        <div class="row">
            <div class="col">
                <h1>Log</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in log %}
                            <tr>
                                <td onclick="window.location='/log/search/{{ row['datetime'] }}/'">{{ row['datetime'] }}</td>
                                <td onclick="window.location='/person/{{ row['id'] }}'">{{ row['name'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        if ("{{ person[0]['trusted'] }}" == "True"){
            document.getElementById("trusted").checked = true;
        }
    </script>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>
